:root {
    --font-size-base: 16px;
    /* Base font size for the website */
    /* Headings */
    --font-size-h1: 2.5rem;
    /* 40px */
    --font-size-h2: 2rem;
    /* 32px */
    --font-size-h3: 1.75rem;
    /* 28px */
    --font-size-h4: 1.5rem;
    /* 24px */
    --font-size-h5: 1.25rem;
    /* 20px */
    --font-size-h6: 1rem;
    /* 16px */
    /* Paragraphs */
    --font-size-p: 1rem;
    /* 16px */
    /* Links */
    --font-size-link: 1rem;
    /* 16px */
    /* Small text */
    --font-size-small: 0.875rem;
    /* 14px */
    /* Extra small text */
    --font-size-xs: 0.75rem;
    /* 12px */
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

* {
    margin: 0px;
    padding: 0px;
    outline: 0px solid blue;
}

button {
    cursor: pointer;
    background-color: white;
    color: rgb(0, 119, 255);
    outline: 1px solid rgb(0, 119, 255);
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 15px;
    font-weight: 600;
    border: 0px;
}

button:hover {
    background-color: rgb(0, 119, 255);
    outline: 0px;
    color: white;
}

body {
    margin: 0;
    padding: 0;
}

.box {
    width: 100vw;
    height: 100vh;
    background-color: rgb(232, 232, 232);
}

.fit-content {
    height: fit-content;
}

.grid {
    display: grid;
    gap: 20px;
}

.center {
    align-items: center;
    justify-content: center;
    align-content: center;
    justify-items: center;
}

.heading {
    font-size: 30px;
    font-weight: 600;
}

.sub-heading {
    font-size: 18px;
    font-weight: 400;
    color: gray;
}

.container {
    width: calc(100vw - 40px);
    height: calc(100vh - 40px);
    padding: 20px;
}

label {
    font-size: 15px;
    color: black;
}

input {
    padding: 5px 10px;
    font-size: 18px;
}